<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/booklist">На головну</a>
<form th:action="@{/search}" th:object="${search}">
    Пошук по ISBN або НАЗВІ : <input type="text"  th:field="*{searchString}" name="searchString" id="searchString"><br>
    <input type="submit" value="Submit">
</form>
<form action="#" th:action="@{/add-book}" th:object="${book}"  method="post">
    Назва книги: <input type="text" th:field="*{title}" th:value="title" name="title" id="title"><br>
    Автор: <input type="text" th:field="*{author}" name="author" id="author"><br>
    IBSN: <input type="text"  th:field="*{ibsn}" name="ibsn" id="ibsn"><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>