<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<form id="addForm">
    Add book
    <br>
    <input name="title" placeholder="Title">
    <br />
    <input name="isbn" placeholder="ISBN">
    <br />
    <input name="author" placeholder="Author">
    <br>
    <button type="submit">Add Book</button>
</form>
<form  id="filterForm">
    <br>
    Filter
    <br>
    <input name="val" placeholder="Value">
    <br>
    <select name="type">
        <option value='0'> Title</option>
        <option value='1' > ISBN</option>
        <option value='2'> Author</option>
        <option value='3'> Name&ISBN</option>
    </select>
    <br>
    <button type="submit">Filter</button>
    <br>
</form>
<button id="getAll">Get All Books</button>
<table border="1" width="100%">
    <thead>
    <td>Назва книги</td>
    <td>ISBN</td>
    <td>Автор</td>
    </thead>
    <tbody id="bookTable"></tbody>
</table>
<br>
<script>
    $(function(){
        $('#addForm').submit(function(e){
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: 'http:localhost:8080/rest-booklist',
                dataType: 'json',
                data: JSON.stringify({
                    title: $(this).find('[name=title]').val(),
                    isbn: $(this).find('[name=isbn]').val(),
                    author: $(this).find('[name=author]').val()
                }),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (response) {

                    var $table=$('#bookTable');
                    console.log(response.title);
                    $table.append('<tr><td>' + response.title + '</td><td>' + response.isbn + '</td><td>' + response.author + '</td></tr>')
                }
            });
        });
        $('#filterForm').submit(function(e) {
            e.preventDefault();

            $.ajax({
                type: 'GET',
                url: 'http:localhost:8080/rest-booklist',
                dataType: 'json',
                data: {
                    search: $(this).find('[name=val]').val(),
                    search_type: $(this).find('[name=typ]').val()
                },
                success: function (response) {
                    var $books = $('#bookTable');
                    $books.empty();
                    response.forEach(function(book) {
                        $books.append('<tr><td>' + book.title + '</td><td>' + book.isbn + '</td><td>' + book.author + '</td></tr>');

                    })
                }
            });
        });
        $(function() {
            $(document).ready(function () {
                $.ajax({
                    type: 'GET',
                    url: 'http:localhost:8080/rest-booklist',
                    success: function (response) {
                        var $table = $('#bookTable');
                        $table.empty();
                        response.forEach(function (book) {
                                $table.append('<tr><td>' + book.title + '</td><td>' + book.isbn + '</td><td>' + book.author + '</td></tr>');

                            }
                        )
                    }
                });
            });
        });
        $('#getAll').click(function(){

            $.ajax({
                type: 'GET',
                url: 'http:localhost:8080/rest-booklist',
                success: function (response) {
                    var $table = $('#bookTable');
                    $table.empty();
                    response.forEach(function(book) {
                        $table.append('<tr><td>' + book.title + '</td><td>' + book.isbn + '</td><td>' + book.author + '</td></tr>');

                    })
                }
            });
        });
    });
</script>
</body>
</html>