<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<table border="1" width="100%">
    <thead>
    <td >ID </td>
    <td>Назва книги</td>
    <td>ISBN</td>
    <td>Автор</td>
    </thead>
    <tr th:each="book: ${bookStorage}">
        <td th:text="${book.id}"/>
        <td><a th:href="@{/book-info(id=${book.id})}" ) th:text="${book.title}"></a></td>
        <td th:text="${book.ibsn}"/>
        <td th:text="${book.author}"/>
    </tr>
</table>
<br>
</body>
</html>